@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #7D1E6A;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none; }

button {
  cursor: pointer;
  outline: none; }

input {
  outline: none;
  border: none; }

.navbar {
  background-color: #BDE6F1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 1rem; }

.navbar-center {
  display: flex;
  gap: 1rem; }
  .navbar-center a {
    color: #7D1E6A;
    font-size: 1.7rem;
    font-weight: bold;
    transition: all .2s; }
    .navbar-center a:hover {
      color: #a72e8e; }

.container {
  min-height: 100vh;
  padding: 2rem; }

.auth-container {
  max-width: 45.0rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .auth-container h2 {
    margin-bottom: 1rem;
    color: #fff;
    border-left: 4px solid #FFE59D;
    padding: 1rem; }

.form {
  background-color: #FFE59D;
  padding: 2rem;
  border-radius: 0 1rem 1rem 1rem; }
  .form__control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; }
    .form__control label {
      color: #7D1E6A;
      font-weight: bold;
      margin-bottom: .5rem; }
    .form__control input {
      padding: .9rem;
      border-radius: .5rem; }
  .form__btn {
    cursor: pointer;
    background-color: #7D1E6A;
    color: #fff;
    padding: 1.2rem 0;
    width: 100%;
    font-weight: bold;
    margin-bottom: 1rem;
    transition: all .2s; }
    .form__btn:hover {
      background-color: #a72e8e; }
  .form :is(p, a) {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #7D1E6A; }

.message {
  background-color: #BDE6F1;
  padding: 1rem;
  color: #7e979e;
  text-align: center;
  margin: 0 auto 2rem;
  max-width: 40%; }

.dev-form-container {
  margin: 0 auto; }
  .dev-form-container form {
    max-width: 30%; }
  .dev-form-container h1 {
    margin: 2rem 0;
    color: #fff;
    border-left: 4px solid #FFE59D;
    padding: 1rem; }
  .dev-form-container a {
    color: #BDE6F1; }

.dashboard {
  padding: 2rem; }
  .dashboard__btn {
    background-color: #BDE6F1;
    padding: 1rem 3rem;
    font-weight: bold;
    font-size: 1.6rem;
    color: #262626;
    border-radius: 1rem; }
  .dashboard__title {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .dashboard__title h2 {
      border-left: 4px solid #BDE6F1; }
  .dashboard h3 {
    margin: 1rem 0; }
  .dashboard ul li {
    display: flex;
    justify-content: space-between; }
    .dashboard ul li .span-label {
      background: #BDE6F1;
      border-radius: 1rem;
      width: 90%;
      padding: 2rem;
      margin: 1rem 0;
      color: #262626; }
    .dashboard ul li .actions {
      display: flex;
      gap: 1rem;
      padding: 1rem;
      align-items: center; }
      .dashboard ul li .actions a {
        background-color: #acac03;
        padding: 1rem 2rem; }
      .dashboard ul li .actions .trash {
        padding: 1rem 2rem;
        background-color: #ce2c2c; }

.header {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
  text-align: center; }
  .header .btn-search {
    background-color: #BDE6F1;
    padding: 1rem 3rem;
    color: #262626;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all ease .5s; }
    .header .btn-search:hover {
      background-color: #7e979e; }
  .header h1 {
    margin: 1rem; }
  .header span {
    color: #FFE59D; }
  .header p,
  .header form {
    margin-bottom: 1.2rem; }
  .header input {
    border: none;
    border-bottom: 1px solid #fff;
    margin-right: 1rem; }
  .header input[type='text'] {
    width: 60%;
    border-radius: 1rem;
    padding: 1rem;
    height: 3.5rem;
    outline: none; }
  .header input::placeholder {
    color: #7D1E6A; }

.order-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto 1rem; }
  .order-container span {
    font-weight: bold;
    color: #fff; }
  .order-container button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #BDE6F1; }
  .order-container a {
    color: #BDE6F1; }

.home-container figure {
  border-bottom: 1px solid #BDE6F1;
  padding: .5rem;
  max-width: 50%;
  margin: 0 auto 1rem; }

.home-container blockquote {
  font-size: 3rem;
  font-style: italic;
  margin-bottom: 1rem; }

.home-container span {
  color: #BDE6F1;
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize; }

.footer {
  height: 12.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEB0B0; }
  .footer p {
    color: #7D1E6A;
    font-size: 2rem; }
